In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('aapl.csv')

In [8]:
df.head()

         Date    Open    High     Low   Close    Volume  Adj Close
0  2008-10-14  116.26  116.40  103.14  104.08  70749800     104.08
1  2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26
2  2008-10-10   85.70  100.00   85.00   96.80  79260700      96.80
3  2008-10-09   93.35   95.80   86.60   88.74  57763700      88.74
4  2008-10-08   85.91   96.33   85.68   89.79  78847900      89.79

In [7]:
df[10:21]

          Date    Open    High     Low   Close    Volume  Adj Close
10  2008-09-30  108.25  115.00  106.30  113.66  58095800     113.66
11  2008-09-29  119.62  119.68  100.59  105.26  93581400     105.26
12  2008-09-26  124.91  129.80  123.00  128.24  40208700     128.24
13  2008-09-25  129.80  134.79  128.52  131.93  35865600     131.93
14  2008-09-24  127.27  130.95  125.15  128.71  37393400     128.71
15  2008-09-23  131.85  135.80  126.66  126.84  45727300     126.84
16  2008-09-22  139.94  140.25  130.66  131.05  30577300     131.05
17  2008-09-19  142.60  144.20  136.31  140.91  51102700     140.91
18  2008-09-18  130.57  135.43  120.68  134.09  59819300     134.09
19  2008-09-17  138.49  138.51  127.83  127.83  42847200     127.83
20  2008-09-16  133.86  142.50  132.15  139.88  42804800     139.88

In [11]:
def get_max_close(symbol):
    df = pd.read_csv("{}.csv".format(symbol))
    return df['Close'].max()

def get_max(symbol,cat):
    df = pd.read_csv("{}.csv".format(symbol))
    return df[cat].max()

def get_min(symbol,cat):
    df = pd.read_csv("{}.csv".format(symbol))
    return df[cat].min()

In [10]:
get_max_close("aapl")

199.83