In [ ]:
import numpy as np
import pandas as pd
from sklearn import metrics
import tensorflow as tf
from tensorflow.python.data import Dataset

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

In [4]:
california_housing_dataframe = pd.read_csv("california_housing_train.csv", sep=",")
california_housing_dataframe = california_housing_dataframe.reindex(np.random.permutation(california_housing_dataframe.index))
california_housing_dataframe["median_house_value"] /= 1000.0
california_housing_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
12398,-121.6,39.3,28.0,2332.0,395.0,1041.0,344.0,3.7,116.8
15767,-122.4,37.8,52.0,1866.0,748.0,2957.0,710.0,1.8,243.8
15539,-122.3,37.9,44.0,1769.0,332.0,828.0,309.0,4.1,150.8
819,-117.1,32.8,36.0,2028.0,349.0,820.0,352.0,4.0,168.9
8132,-118.4,34.2,40.0,1134.0,184.0,452.0,187.0,4.6,333.9
...,...,...,...,...,...,...,...,...,...
7436,-118.3,33.9,26.0,2159.0,523.0,1331.0,520.0,3.9,264.5
10037,-119.8,36.8,15.0,3356.0,694.0,1232.0,627.0,2.2,72.2
13720,-122.0,37.6,6.0,4405.0,717.0,2071.0,688.0,5.8,295.6
15931,-122.4,37.8,52.0,1862.0,472.0,872.0,471.0,3.3,222.7
12898,-121.8,37.4,29.0,4045.0,885.0,3036.0,845.0,3.2,171.7

In [24]:
# Define the input feature: total_rooms.
my_feature = california_housing_dataframe[["total_rooms"]]

# Configure a numeric feature column for total_rooms.
feature_columns = [tf.feature_column.numeric_column("total_rooms")]

In [27]:
features = {key:np.array(value) for key,value in dict(my_feature).items()}

In [34]:
for i in features:
    print(i)

total_rooms

In [35]:
type(features)

dict

In [37]:
for i in features.keys():
    print(i)

total_rooms

In [40]:
features['total_rooms'][1]

1866.0

In [ ]:
import csv
import matplotlib.pyplot as plt

def makeGraph(file,endCol,startCol=0):  
    for col in range(startCol,endCol): #from the start col values in the dataset 9 catagories + 1 extra for the loop termination
        values = []
        fileName = file
        # Fixing random state for reproducibility
        with open(fileName+'.csv', 'r', newline='') as csvfile:
            askreader = csv.reader(csvfile, delimiter=',', lineterminator='\n')

            for rows in askreader:
                values.append(rows[col]) # from cols 11-20 are the values from the API

        title = values[0]
        print(title)
        values = [float(i) for i in values[1:]] #converting values from string to floats for the chart

        #bins = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1] #bins to sort numbers into based on values they fall between

        # the histogram of the data
        plt.hist(values,rwidth=0.6)
        plt.xlabel('Values')
        plt.ylabel('Count')
        plt.title('{} Distribution of {}'.format(fileName, title))
        plt.grid(True)
        plt.savefig('{} {} Distribution.png'.format(fileName,title))
        plt.clf() #clear the current graph, can be removed to see all values on one chart
        print("Done")

In [ ]:
makeGraph('california_housing_train',9)